---
import { getLocale } from 'astro-i18n-aut';
import { t, localedURL } from 'src/utils/i18n.ts';
import Grid from 'src/layouts/Grid.astro';
import Block from 'src/components/grid/Block.astro';
import getAllPosts from 'src/strapi/get-all-posts';
import 'src/css/post-badge.css';

const locale = getLocale(Astro.url);
const localedData = t(locale);

const posts = (await getAllPosts(locale)) ?? [];
---

<Grid title={localedData.meta.posts.title} description={localedData.meta.posts.description}>
  <Block md lg />
  {
    posts.map((e: any, i: number) => (
      <>
        <a
          href={e.category === 'video' ? e.video : localedURL(locale, `/posts/${e.id}`)}
          target={e.category === 'video' ? '_blank' : '_self'}
          class='group relative col-span-2 row-span-2 aspect-square overflow-hidden shadow-md duration-500 ease-in-out hover:shadow-lg'
          data-aos='fade-up'
          data-aos-duration='400'
          data-aos-delay={(i % 5) * 50}
        >
          <img
            src={e.image.url ?? 'https://placehold.co/400'}
            width={e.image.width}
            height={e.image.height}
            alt={e.title}
            class='absolute inset-0 h-full min-h-full min-w-full overflow-hidden object-cover opacity-70 duration-500 group-hover:rotate-3 group-hover:scale-110 group-hover:opacity-80'
          />
          <div class='relative top-[80%] h-1/5 w-full bg-white/80 px-4 py-3 shadow-md duration-500 ease-in-out group-hover:top-1/2 group-hover:h-1/2'>
            <h2 class='m-0 w-auto text-2xl font-medium'>{e.title}</h2>
            <p class='mx-2 h-[36px] w-[380px] overflow-hidden text-ellipsis text-lg text-neutral-800 duration-500 ease-in-out group-hover:h-full'>
              {e.description}
            </p>
          </div>
          <div
            class={`absolute right-2 top-2 rounded-full bg-blue-600 px-3 py-1 text-white ${e.category}`}
          >
            {localedData.posts.category[e.category]}
          </div>
        </a>
        {(i - 1) % 3 === 0 && <Block lg />}
        {(i - 1) % 3 === 0 && <Block lg />}
      </>
    ))
  }
</Grid>

<!-- <a
          href={e.category === 'video' ? e.video : localedURL(locale, `/posts/${e._slug}`)}
          class='group relative col-span-2 row-span-2 aspect-square overflow-hidden'
          target={e.category === 'video' ? '_blank' : '_self'}
          data-aos='fade-up'
          data-aos-duration='400'
        >
          <img
            src={e.image.url ?? 'https://placehold.co/400'}
            alt={e.title}
            class='w-full opacity-60 duration-500 group-hover:rotate-6 group-hover:scale-110 group-hover:opacity-100'
            width='640'
            height='640'
          />
          <div class='absolute inset-x-0 bottom-0 bg-white px-5 py-3 text-center text-2xl'>
            {e.title}
          </div>
        </a> -->
