---
import { getLocale } from 'astro-i18n-aut';
import { t, localedURL } from 'src/utils/i18n.ts';

const { category } = Astro.props;

const locale = getLocale(Astro.url);
const localedData = t(locale).catalog[category];
---

<a
  href={localedURL(locale, `/catalog/${category}`)}
  title={localedData.title}
  class='flex aspect-square flex-col items-center justify-center gap-2 p-5 text-center text-lg text-white duration-300 hover:bg-black/50'
  ><img
    src={`/icons/catalog/${category}.png`}
    alt={localedData.title}
    title={localedData.title}
    width='80'
    height='80'
  /><p>
    {localedData.title}
  </p></a
>
