---
import { getLocale } from 'astro-i18n-aut';
import { t } from 'src/utils/i18n.ts';
import Grid from 'src/layouts/Grid.astro';
import Block from 'src/components/grid/Block.astro';
import ServicesCategoryButton from 'src/components/grid/ServicesCategoryButton.astro';
import ProductList from 'src/components/ProductList';
import axios from 'axios';

const locale = getLocale(Astro.url);
const localedData = t(locale).services.components;

const response = await axios.get(import.meta.env.WEB_URL + '/api/prom').catch((e) => {
  console.log(e);
  return {
    data: {
      products: null,
      error: true,
    },
  };
});
const data = response.data;
---

<Grid title={localedData.title} description={localedData.description}>
  <Block mobile md lg />
  <ServicesCategoryButton category='delivery' />
  <ServicesCategoryButton category='components' active />
  <ServicesCategoryButton category='seminars' />
  <ServicesCategoryButton category='vacancies' />
  <Block lg />
  <Block md lg />
  <div class='col-span-2 bg-white p-5 pt-12 md:col-span-4 md:px-12 lg:col-span-6'>
    <div class='flex justify-center' data-aos='fade-up' data-aos-duration='400'>
      <h1
        class='mb-5 border-b-2 border-blue-600 px-2 pb-2 text-center text-4xl font-bold text-blue-600'
      >
        {localedData.content.h1}
      </h1>
    </div>
    {data.error && <p class='text-center text-lg'>{localedData.content.error}</p>}
    {
      !data.error && data.products && data.products.length === 0 && (
        <p class='text-center text-lg'>{localedData.content.missingitems}</p>
      )
    }
    {
      !data.error && data.products && data.products.length > 0 && (
        <ProductList
          client:load
          client:only='react'
          data={data.products}
          translationData={{
            previewPage: localedData.content.prevpage,
            nextPage: localedData.content.nextpage,
            details: localedData.content.details,
          }}
        />
      )
    }
  </div>
</Grid>
