---
import { getLocale } from 'astro-i18n-aut';
import { t } from 'src/utils/i18n.ts';
import Grid from 'src/layouts/Grid.astro';
import Block from 'src/components/grid/Block.astro';
import CatalogCategoryButton from 'src/components/grid/CatalogCategoryButton.astro';
import { Prepr } from 'src/utils/prepr';
import GetServices from 'src/queries/get-services';
import NotFound from 'src/pages/404.astro';

const avalibleCategory = ['facades', 'inside', 'outside', 'safe'];
const category = Astro.params.category ?? '';

const locale = getLocale(Astro.url);
const localedData = t(locale).catalog[category] ?? {};

const response = await Prepr(GetServices(locale, category));
const { data } = await response.json();
const services = data.Services.items;
---

{
  avalibleCategory.includes(category) ? (
    <Grid title={localedData.title} description={localedData.description}>
      <Block mobile md lg />
      {avalibleCategory.map((e: string) => (
        <CatalogCategoryButton category={e} />
      ))}
      <Block lg />
      <Block md lg />
      <div class='col-span-2 bg-white p-5 md:col-span-4 lg:col-span-6'>
        <h1 class='mb-5 text-center text-4xl font-bold'>{localedData.title}</h1>
        <p class='mb-10'>{localedData.description}</p>
        {services.map((e: any) => (
          <div class='mb-10 flex flex-col items-center gap-3 sm:flex-row md:flex-row'>
            <img
              src={e.image.url}
              alt={e.title}
              title={e.title}
              width='200'
              height='200'
              class='rounded-md border-2 border-neutral-50'
            />
            <div>
              <h2 class='text-3xl font-semibold'>{e.title}</h2>
              <p>{e.body}</p>
            </div>
          </div>
        ))}
      </div>
    </Grid>
  ) : (
    <NotFound />
  )
}
