---
import i18n, { t, changeLanguage, setDefaultNamespace } from "i18next";
import Grid from "../../layouts/Grid.astro";
import Block from "../../components/grid/Block.astro";
import CatalogCategoryButton from "../../components/grid/CatalogCategoryButton.astro";
import { Prepr } from "src/utils/prepr";
import GetServices from "src/queries/get-services";
import NotFound from "../404.astro";

changeLanguage("uk");

const avalibleCategory = ["facades", "inside", "outside", "safe"];
setDefaultNamespace("services");
const category = Astro.params.category;
const response = await Prepr(GetServices(i18n.language, category));
const { data } = await response.json();
const services = data.Services.items;
---

{
  avalibleCategory.includes(category) ? (
    <Grid title={`${t(`${category}.title`)} | ${t('title')}`} description={t('description')}>
      <Block mobile md lg />
      {avalibleCategory.map((e: string) => (
        <CatalogCategoryButton category={e} />
      ))}
      <Block lg />
      <Block md lg />
      <div class='col-span-2 bg-white p-5 md:col-span-4 lg:col-span-6'>
        <h1 class='mb-5 text-center text-4xl font-bold'>{t(`${category}.title`)}</h1>
        <p class='mb-10'>{t(`${category}.description`)}</p>
        {services.map((e: any) => (
          <div class='mb-10 flex flex-col items-center gap-3 sm:flex-row md:flex-row'>
            <img
              src={e.image.url}
              alt={e.title}
              title={e.title}
              width='200'
              height='200'
              class='rounded-md border-2 border-neutral-50'
            />
            <div>
              <h2 class='text-3xl font-semibold'>{e.title}</h2>
              <p>{e.body}</p>
            </div>
          </div>
        ))}
      </div>
    </Grid>
  ) : (
    <NotFound />
  )
}
