---
import { getLocale } from 'astro-i18n-aut';
import { t } from 'src/utils/i18n.ts';

const locale = getLocale(Astro.url);
const localedData = t(locale).about;

const targetList: string[] = localedData.targethero.content.list;
---

<div class='my-16 px-6'>
  <div class='flex justify-center' data-aos='fade-up' data-aos-duration='400'>
    <h2
      class='mb-5 border-b-2 border-blue-600 px-2 pb-2 text-center text-3xl font-bold text-blue-600'
    >
      {localedData.targethero.h2}
    </h2>
  </div>
  <p class='text-center text-xl font-semibold' data-aos='fade-up' data-aos-duration='400'>
    {localedData.targethero.content.p1}
  </p>
  <p class='text-center text-xl font-semibold' data-aos='fade-up' data-aos-duration='400'>
    {localedData.targethero.content.p2}
  </p>
  <h3 class='mt-5 text-center text-2xl font-semibold' data-aos='fade-up' data-aos-duration='400'>
    {localedData.targethero.content.p3.default}
  </h3>
  <p class='text-center italic' data-aos='fade-up' data-aos-duration='400'>
    {localedData.targethero.content.p3.italic}
  </p>
  <div class='mt-2 flex flex-wrap items-center justify-center gap-3 text-white'>
    {
      targetList.map((e, i) => (
        <div
          class='rounded-md bg-blue-500 px-6 py-2 text-center md:px-10 lg:px-12'
          data-aos='fade-up'
          data-aos-duration='400'
          data-aos-delay={50 * i}
        >
          {e}
        </div>
      ))
    }
  </div>
</div>
