---
import { getLocale } from 'astro-i18n-aut';
import { t, localedURL } from '../utils/i18n.ts';
import Block from '../components/grid/Block.astro';
import Button from '../components/grid/Button.astro';
import SloganBlock from '../components/grid/SloganBlock.astro';
import LanguageSwitcherBlock from '../components/grid/LanguageSwitcherBlock.astro';
import Grid from '../layouts/Grid.astro';

const locale = getLocale(Astro.url);
const localedData = t(locale);
---

<script>
  const langNotification = document.getElementById('lang-notification');
  if (
    !localStorage.getItem('langModalInteraction') &&
    window.navigator.language !== 'uk' &&
    window.navigator.language !== 'uk-UA'
  ) {
    langNotification?.style.setProperty('display', 'block');
  }

  const langUKButton = document.getElementById('lang-uk');
  const langENButton = document.getElementById('lang-en');

  langENButton?.addEventListener('click', () => {
    localStorage.setItem('langModalInteraction', 'true');
    langNotification?.style.setProperty('display', 'none');
    window.location.href = '/en';
  });

  langUKButton?.addEventListener('click', () => {
    localStorage.setItem('langModalInteraction', 'true');
    langNotification?.style.setProperty('display', 'none');
  });
</script>

<Grid halfTransparentFooter={true}>
  <!-- Not grid elements -->
  <h1 class='hidden'>{t(locale).meta.main.title.full}</h1>
  {
    locale === 'uk' && (
      <div class='fixed inset-0 z-50 hidden bg-black/60' id='lang-notification'>
        <div class='mx-auto mt-10 flex h-min flex-col items-center justify-center rounded-md bg-white px-5 py-3 md:w-max'>
          <div class='flex items-center justify-center rounded-full bg-gray-50 p-4'>
            <img src='/icons/en.svg' alt='English' title='English' />
          </div>
          <h2 class='my-5 text-3xl font-semibold'>Hello</h2>
          <p>
            We noticed that the language of your browser is not <strong>Ukrainian</strong>,
          </p>
          <p>
            maybe you want to change the language of the website to <strong>English</strong>?
          </p>
          <p class='mt-5 text-sm text-gray-500'>
            You can always change the language on the <strong>main page</strong> by clicking on the
            button on the <strong>top right</strong>*
          </p>
          <div class='mt-5 flex w-full flex-wrap justify-center gap-6 border-t-2 border-blue-600 py-3 md:flex-row'>
            <button
              class='rounded-md border-2 border-blue-600 px-4 py-3 duration-300 hover:scale-110'
              id='lang-uk'
            >
              Stay on the Ukrainian
            </button>
            <button
              class='rounded-md bg-blue-600 px-4 py-3 text-white duration-300 hover:scale-110'
              id='lang-en'
            >
              Switch to the English
            </button>
          </div>
        </div>
      </div>
    )
  }
  <div class='absolute left-0 top-0 -z-50 h-[100dvh] w-full overflow-hidden'>
    {
      Array(2)
        .fill(1)
        .map(() => (
          <>
            <video
              loop
              muted
              autoplay
              preload='none'
              src='/videos/background/sky_1280.mp4'
              class='hidden max-h-none w-full max-w-none lg:block'
            />
            <video
              loop
              muted
              autoplay
              preload='none'
              src='/videos/background/sky_square.mp4'
              class='ml-[-16.6%] hidden max-h-none w-[133%] max-w-none md:block lg:hidden'
            />
          </>
        ))
    }
    <video
      loop
      muted
      autoplay
      preload='none'
      src='/videos/background/sky_mobile.mp4'
      class='fixed top-0 w-full md:hidden'></video>
  </div>
  <!-- Grid elements -->
  <SloganBlock />
  <Block md lg />
  <Button
    path={localedURL(locale, '/catalog/facades')}
    alt={localedData.home.catalog}
    title={localedData.home.catalog}
  />
  <Block md lg />
  <LanguageSwitcherBlock />
  <Block lg />
  <Block lg />
  <Button path={localedURL(locale, '/production')} title={localedData.home.production} />
  <Block md lg />
  <Button
    path={localedURL(locale, '/about')}
    alt={localedData.home.about}
    title={localedData.home.about}
  />
  <Block md lg />
  <Button
    path={localedURL(locale, '/services/delivery')}
    alt={localedData.home.services}
    title={localedData.home.services}
  />
  <Button
    path={localedURL(locale, '/reportings')}
    alt={localedData.home.reportings}
    title={localedData.home.reportings}
  />
  <Block lg />
  <Block lg />
  <Block md lg />
  <Block md lg />
  <Block md lg />
  <Button
    path={localedURL(locale, '/posts')}
    alt={localedData.home.posts}
    title={localedData.home.posts}
  />
  <Button
    path={localedURL(locale, '/projects')}
    alt={localedData.home.projects}
    title={localedData.home.projects}
  />
  <Block lg />
  <Button
    path='https://drive.google.com/file/d/1vVekRWUyhJkb9wlAj7WfZ-MAGZTeE5Dg/view'
    alt={localedData.home.handbook}
    title={localedData.home.handbook}
    blank
  />
  <Block lg />
  <Block md lg />
  <Button
    path={localedURL(locale, '/contacts')}
    alt={localedData.home.contacts}
    title={localedData.home.contacts}
  />
  <Block md lg />
  <Block md lg />
  <Button
    path={localedURL(locale, '/feedback')}
    alt={localedData.home.feedback}
    title={localedData.home.feedback}
  />
</Grid>
