---
import { getLocale } from 'astro-i18n-aut';
import { t } from '../utils/i18n.ts';
import Grid from '../layouts/Grid.astro';
import ProductionFullScreen from 'src/components/ProductionFullScreen';

const locale = getLocale(Astro.url);
const localedData = t(locale).production;

const data: Array<{
  video: string;
  title: string;
  description: string;
}> = localedData.data;
---

<Grid title={localedData.title} description={localedData.description} disableFooter>
  <h1 class='hidden'>{localedData.title}</h1>
  <ProductionFullScreen
    data={data}
    prevText={localedData.prev}
    nextText={localedData.next}
    client:load
  />
</Grid>
