---
import { getLocale } from 'astro-i18n-aut';
import { t, localedURL } from '../utils/i18n.ts';
import Block from '../components/grid/Block.astro';
import ButtonWithImage from '../components/grid/ButtonWithImage.astro';
import Base from './Base.astro';
const { title, description, image, halfTransparentFooter, disableFooter } = Astro.props;

const locale = getLocale(Astro.url);
const localedData = t(locale).meta;
---

<Base
  title={title}
  description={description}
  image={image}
  halfTransparentFooter={halfTransparentFooter}
  disableFooter={disableFooter}
>
  <div class='grid grid-cols-2 md:grid-cols-6 lg:grid-cols-8'>
    <Block lg />
    <ButtonWithImage
      path={localedURL(locale, '/')}
      alt={localedData.main.title.short}
      title={localedData.main.title.short}
      src='/svgs/logo-ua.svg'
    />
    <slot />
  </div>
</Base>
